<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>글목록</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
   <div id="container">
   <h2>글목록</h2>
   <!-- 검색영역 제목및내용 --> 
   <form th:action="@{/boards/pages}" method="get" class="searchForm">
   <select name="type">
   <option th:value="title" th:text="제목" 
   			th:selected="${type eq'title'}"></option> 
   <option th:value="content" th:text="내용"
   			th:selected="${type =='content'}"></option>
   </select>
   <input type= "text" name="keyword" th:value="${kw}">
   <input type= "submit" value="검색">
   </form>
   
  <table class="boardList">
  	<thead>
  	<tr>
  		<th>번호</th>	
  		<th>제목</th>
  		<th>글쓴이</th>
  		<th>조회수</th>
  		<th>작성일</th>
  
  	</tr>
  	</thead>
  	<tbody>
  	 <tr th:each="b: ${boardList}">
  	 <td th:text="${b.id}"></td>
  	  <td>
  	  <!--  
  <a th:href="@{/boards/{id}(id=${b.id})}" th:text="${b.title}"></a></td>-->
  <a th:href="@{|/boards/${b.id}|(page=${boardList.number+1})}" th:text="${b.title}"></a>
  </td>
  	   <td th:text="${b.writer}"></td>
  	    <td th:text="${b.hits}"></td>
 		<td th:text="${#dates.format(b.regDate, 'yyyy-MM-dd HH:mm')}"></td>
  	 </tr>
  	</tbody>
  </table>
  <!-- 페이지영역 -->
  <div class="pagination">
  <!-- 이전페이지 보드리스트넘버 -> 겟리스트넘버 -->
<a th:href="${boardList.first}? '#' :
@{/boards/pages(page=${boardList.number})}" th:text="Prev"></a>
  
  <!-- 페이지번호블럭 (page 넘겨온거 ${page}페이지넘버 -->
  <span th:each="page: ${#numbers.sequence(startPage,endPage)}">
  <a th:href="@{/boards/pages(page=${page})}" th:text="${page}"></a></span>
      <!-- 다음페이지 -->
      <a th:if="${boardList.hasNext()}"
     th:href="@{/boards/pages(page=${boardList.number + 2})}"
     th:text="Next"></a>
  </div>
  <div class="btnWrite">
  	<a th:href="@{/boards/write}"><button>글쓰기</button></a>
  </div>
   </div>

</body>
</html>